.dark-background{
    background-color: #03001C;
}
.h-100vh{
    min-height: 100vh;
}
.font-roboto-mono{
    font-family: 'Roboto Mono', monospace;
}
.scan{
    position: relative;
    width: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scan .hand{
    position: relative;
    width: 300px;
    height: 300px;
    background-image: url('images/hand_02_t.png');
    background-size: 300px;
    background-repeat: no-repeat;
}

.scan .hand ::before{
    content: " ";
    position: absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
    background-image: url('images/hand_01_t.png');
    background-size: 100%;
    animation: animate_hand 4s ease-in-out infinite;
}

@keyframes animate_hand {
    0%, 100%{
        height: 0%;
    }
    50%{
        height: 100%;
    }
    
}

.scan .hand ::after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 6px;
    background: #3fefef;
    filter: drop-shadow(0 0 20px #3fefef) drop-shadow(0 0 60px #3fefef);
    animation: animate_lines 4s ease-in-out infinite;
}
.scan h2{
    text-transform: uppercase;
    font-size: 2em;
    padding-top: 20px;
    letter-spacing: 2px;
    color: #3fefef;
    filter: drop-shadow(0 0 20px #3fefef) drop-shadow(0 0 60px #3fefef);
    animation: animateTx 1s steps(1) infinite;
}
.glow-text{
    text-transform: uppercase;
    font-size: 1.6em;
    padding-top: 20px;
    letter-spacing: 2px;
    color: #3fefef;
    filter: drop-shadow(0 0 20px #3fefef) drop-shadow(0 0 60px #3fefef);
    animation: animateTx 1s steps(1) infinite;
    font-family: 'Roboto Mono', monospace;
}
.btn-glow{
    border-radius: 50px;
    color:#3fefef;
    padding: 20px 30px;
    border: 2px solid #3fefef;
    transition: 0.3 all linear;
    font-size: 18px;
    background-color: #03001C;
    font-family: 'Roboto Mono', monospace;
    transition: .3 all linear;
}
.btn-glow:hover{
    background-color: #3fefef;
    color: #03001C;
}
.text-box{
    padding: 10px 30px;
    border: 2px solid #3fefef;
    background: transparent;
    color:#3fefef;
    width: 90%;
    margin-bottom: 60px;
}
@keyframes animate_lines {
    0%, 100%{
        top: 0%;
    }
    50%{
        top: 100%;
    }
}
@keyframes animateTxt {
    0%, 100%{
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
    
}
.scan .hand .lines{
    position: absolute;
    inset: 0;
}

.scan .hand .lines::before{
    content: ' ';
    position: absolute;
    top:0;
    bottom: 0;
    width: 300px;
    height: 300px;
    background-image:url('images/points.png');
    background-size: 300px;
}
::placeholder{
    color: #3fefef;
}